<form action="/weapons/<%= @weapon.id %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">
  <input type="hidden" name="_method" value="PATCH" />
  <p>Update <%= @weapon.name %>:</p>

  <label for="level_req">Level Requirement</label><br>
  <select id="level_req" name="weapon[level_req]" required>
    <option value="<%= @weapon.level_req %>"><%= @weapon.level_req %></option>
    <% (1..80).each do |num| %>
      <option value="<%= num %>"><%= num %></option>
    <% end %>
  </select><br>

  
  <label for="rarity">Rarity</label><br>
  <select id="rarity" name="weapon[rarity]" required>
    <option value="<%= @weapon.rarity %>"><%= @weapon.rarity %></option>
    <option value="White">White</option>
    <option value="Green">Green</option>
    <option value="Blue">Blue</option>
    <option value="Purple">Purple</option>
    <option value="Orange">Orange</option>
  </select><br>
  
  <label for="weapon_type">Weapon Type</label><br>
  <select id="weapon_type" name="weapon[weapon_type]" required>
    <option value="<%= @weapon.weapon_type %>"><%= @weapon.weapon_type %></option>
    <option value="Pistol">Pistol</option>
    <option value="SMG">SMG</option>
    <option value="Shotgun">Shotgun</option>
    <option value="Assault Rifle">Assault Rifle</option>
    <option value="Sniper Rifle">Sniper Rifle</option>
    <option value="Rocket Launcher">Rocket Launcher</option>
  </select><br>

  <label for="name">Name</label><br>
  <input type="text" id="name" name="weapon[name]" value="<%= @weapon.name %>" required/><br>
  <label for="damage">Damage</label><br>
  <input type="number" id="damage" name="weapon[damage]" value="<%= @weapon.damage %>" required/><br>
  <label for="accuracy">Accuracy</label><br>
  <input type="number" id="accuracy" name="weapon[accuracy]" step="0.1" value="<%= @weapon.accuracy %>"  required/><br>
  <label for="fire_rate">Fire Rate</label><br>
  <input type="number" id="fire_rate" name="weapon[fire_rate]" step="0.1" value="<%= @weapon.fire_rate %>" required/><br>
  <label for="reload_speed">Reload Speed</label><br>
  <input type="number" id="reload_speed" name="weapon[reload_speed]" step="0.1" value="<%= @weapon.reload_speed %>"  required/><br>
  <label for="magazine_size">Magazine Size</label><br>
  <input type="number" id="magazine_size" name="weapon[magazine_size]" value="<%= @weapon.magazine_size %>"  required/><br>
  <label for="elemental?">Elemental?</label><br>
  <input type="radio" id="elemental?" name="weapon[elemental?]" value="true" required/>
  <label for="elemental?">True</label><br>
  <input type="radio" id="elemental?" name="weapon[elemental?]" value="false" required/>
  <label for="elemental?">False</label><br>

  <label for="elemental_type">Elemental Type</label><br>
  <select id="elemental_type" name="weapon[elemental_type]" required>
    <option value="<%= @weapon.elemental_type %>"><%= @weapon.elemental_type %></option>
    <option value="None">None</option>
    <option value="Corrosive">Corrosive</option>
    <option value="Incendiary">Incendiary</option>
    <option value="Explosive">Explosive</option>
    <option value="Shock">Shock</option>
    <option value="Slag">Slag</option>
  </select><br>

  <label for="trait">Trait</label><br>
  <textarea name="weapon[trait]" value="<%= @weapon.trait %>" required><%= @weapon.trait %></textarea><br/>
  <label for="price">Price</label><br>
  <input type="number" id="price" name="weapon[price]" value="<%= @weapon.price %>" required/><br><br>

  <input type="submit" value="Submit"/>
</form>