<h1><%= @manufacturer.name %></h1>
<a href="/manufacturers/<%= @manufacturer.id %>/edit">Edit details</a><br><br>
<form action="/manufacturers/<%= @manufacturer.id %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete"/>
</form>
<h3>Headquarters:</h3>
<%= @manufacturer.headquarters %>

<h3>Can produce elemental equipment?:</h3> 
<%= @manufacturer.elemental? %>

<h3>Equipment production total:</h3> 
<%= @manufacturer.equipment_production_total %>

<h3>Equipment in database total:</h3>
<%= @manufacturer.weapons.count %>

<h3>Equipment in database links:</h3>
<ul>
  <li><h3><a href="/manufacturers/<%= @manufacturer.id %>/weapons"><%= @manufacturer.name %> Weapons</a></h3></li>
</ul>