<h1><%= @manufacturer.name %></h1>

<h3>Headquarters:</h3>
<%= @manufacturer.headquarters %>

<h3>Can produce elemental equipment?:</h3> 
<%= @manufacturer.elemental? %>

<h3>Equipment production total:</h3> 
<%= @manufacturer.equipment_production_total %>

<h3>Equipment in database total:</h3>
<%= @manufacturer.weapons.count %>