<!DOCTYPE html>
<html>
  <head>
    <title>BlEquipmentManufacturer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <a href="/manufacturers">Manufacturers Index</a><br>
    <a href="/weapons">Weapons Index</a>
    <%= yield %>
  </body>
</html>
